@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  background-color: #2F3136;
  color: white;
}

label {
  display: block;
}

textarea {
  font-weight: bold;
  font-size: 22;
  font-family: 'Roboto', sans-serif;
  resize: none;
  border: none;
  background-color: #36393F;
  color: white;
  width: 100%;
  height: 40vh;
}
textarea:focus {
  outline-color: #6A6F7A;
  outline-style: dashed;
}

.App {
  margin: 0vw 5vw 0vw 5vw;
}

.textfield {
  margin: 20px 0px 20px 0px;
}
