@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-moz-selection {
  color: white;
  background: var(--btn-secondary);
}

::selection {
  color: white;
  background: var(--btn-secondary);
}

:root {
  --background: #2F3136;
  --background-light: #36393F;
  --background-lighter: #42454D;
  --text-primary: white;
  --text-secondary: gray;
  --btn-primary: #43bb43;
  --btn-secondary: #3498db;
}
html {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
  color: var(--text-primary);
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Form
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
form label {
  display: block;
  padding: 0px 25px 0px 25px;
  margin: 0px 0px 10px 0px;
  font-size: 24px;
  font-weight: bold;
}
.textAreaContainer {
  display: flex;
  width: 100%;
}
.textAreaContainer textarea {
  flex: 1;
  padding: 15px;
  border-radius: 25px;
  resize: none;
  border: none;
  color: var(--text-primary);
  height: 30vh;
  font-size: 20px;
  background-color: var(--background-light);
  transition: background-color 500ms;
}
form textarea:focus {
  outline-style: none;
  background-color: var(--background-lighter);
}
.textfield {
  margin: 0px 0px 20px 0px;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
General Button styling
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
button.btn {
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 22px;
  color: white;
  background-color: gray;
  transition: opacity 200ms;
  padding: 5px 5px;
}
button.btn.btn-primary {
  background-color: var(--btn-primary);
}
button.btn.btn-secondary {
  background-color: var(--btn-secondary);
}
button.btn:disabled {
  opacity: 25%;
}
#submitBtn {
  margin: 0px 25px 0px 25px;
}
/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Main section of the website
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.main {
  display: flex;
  justify-content: space-between;
  margin: 1rem 5rem 1rem 5rem;
  align-items: flex-start;
}
.main-item {
  margin: 0rem 1rem;
}
.main-item.small {
  flex: 1;
}
.main-item.big {
  flex: 3;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Navbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.nav-bar {
  max-width: 100vw;
  display: flex;
  align-items: center;
}
.nav-item {
  margin: 0px 23px;
}
#legendIcon {
  background: inherit;
  color: inherit;
  border: inherit;
  cursor: pointer;
}
#legendIcon:focus {
  outline: none;
}
#legendIcon span {
  font-size: 38px;
  transition: color 200ms ease;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Legend
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.legend p {
  font-size: 16px;
}
.legend p:first-child {
  margin-block-start: 0;
}
.legend table {
  width: 100%;
  text-align: center;
  background: var(--background-light);
  border-radius: 15px;
}
.legend td {
  border-top: thin solid var(--background-lighter);
}
.legend td.first-row {
  border: none;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Toasts
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.Toastify__toast--info {
  background-color: var(--btn-secondary);
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.footer {
  margin: 1.5rem 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.footer-item p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.footer-item p a {
  color: #896ce5;
  font-weight: bold;
  text-decoration: none;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer shortcut descriptions
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.shortcuts {
  display: flex;
}
.shortcuts-item {
  margin-right: 1rem;
  display: flex;
}
.shortcuts-item:first-child p {
  margin: 0px 4px 0px 0px;
}
.shortcuts-item p {
  color: var(--text-secondary);
  margin: 0px 4px;
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Keycaps
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.keycap {
  height: 18px;
  width: auto;
}
.keycap-main {
  fill: var(--background-lighter);
}
.keycap-accent {
  fill: var(--btn-secondary);
}

/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~
Responsive breakpoints
~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
@media (max-width: 1300px) {
  .legend {
    background-color: var(--background-light);
    border-radius: 25px;
    padding: 15px;
    margin: 0px 0px 30px 0px;
  }
  .legend table {
    max-width: 40%;
    background-color: var(--background-lighter);
  }
  .legend td {
    border-top: thin solid var(--text-secondary);
  }
  .main {
    display: block;
  }
}
@media (max-width: 870px) {
  .main {
    margin: 0;
  }
  .legend table {
    max-width: 100%;
  }
  .btnContainer {
    display: flex;
  }
  button.btn {
    margin: 0px 0px 0px 5px;
    flex: 1.2;
  }
  #submitBtn {
    margin: 0px 5px 0px 0px;
    flex: 1;
  }
  .footer {
    display: block;
  }
  .footer-item {
    margin-top: 12px;
  }
}
@media (max-width: 630px) {
  .shortcuts {
    display: block;
  }
  .shortcuts-item {
    margin-top: 4px;
  }
  .shortcuts-item p {
    margin: 0px 4px 0px 0px;
  }
}
@media (max-width: 500px) {
  form label {
    font-size: 18px;
  }
  .legend p {
    font-size: 14px;
  }
  .nav-item {
    margin: 0px 10px;
  }
  .textAreaContainer textarea {
    font-size: 18px;
  }
}

